#table_QHutangKO{
	font-size: 9px !important;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	border-collapse: collapse;
}
#table_QHutangKO thead tr th {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	/*white-space: nowrap;*/
	border-bottom : 1px solid gray;
	border-top : 1px solid gray;

}

#table_QHutangKO tbody tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	/*white-space: nowrap;*/

}

#table_QHutangKO tfoot tr th{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	border-top : 1px solid black;
	/*white-space: nowrap;*/

}

#tableKaki{
	font-size: 10px;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	border-collapse: collapse;
	white-space: nowrap;
}

.ukuran{
	font-size: 10px !important;
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;

}

.table_seratus_persen{
	font-size: 9px !important;
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	width: 100%;
	border-collapse: collapse;
}

.jarak{
	/*padding-top: 5px;*/
	padding-bottom: 5px;
}

.tbl_pd{
	font-size: 8px !important;
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	width: 100%;
	border-collapse: collapse;
	border: 1px solid;
}


.tbl_pd_bawah{
	font-size: 10px !important;
	font-family: Geneva, Verdana, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", sans-serif;
	width: 100%;
	border-collapse: collapse;
	/*border: 1px solid;*/
}