#table_detail td {
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 3px;
	padding-right: 3px;
	/* vertical-align: top; */
}
#table_detail th {
	padding-top: 5px;
	padding-bottom: 5px;
	white-space: nowrap;
}
#table_detail {
	border-collapse: collapse;
	font-size: 10px;
	font-family: "Times New Roman", Times, serif;
}

.atur {
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	font-size:10px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.atur_print{
	font-size:8px;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}