.frm-container {
    width: 100%;
    min-height: 600px;
    overflow: hidden;
    border: 2px solid rgb(209, 209, 209);
    margin-top: 10px;
    border-radius: 20px;
}

.frm-container .header {
    height: 80px;
    padding: 0 20px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 10px 10px 0 1px rgba(44, 44, 44, 0.742);
}

.frm-container .header .logo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #38d9a9;
    border-radius: 50%;
}

.frm-container .header .logo i {
    font-size: 20px;
    font-weight: 500;
    color: #ECDB54;
}

.frm-container .header .title p {
    font-size: 20px;
    font-weight: 600;
    color: #4f4f4f;
}

.frm-container .content {
    background: url('../images/bg-chat.jpg');
    background-repeat: repeat;
    min-height: 500px;
    max-height: 500px;
    overflow: scroll;
}

.frm-container .content .comment {
    max-width: 90%;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 10px;
    margin-bottom: 20px;
}

.frm-container .content .comment .profile {
    width: 6%;
}

.frm-container .content .comment .img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.frm-container .content .comment .img img {
    width: 100%;
    height: 100%;
}

.frm-container .content .comment .text-container {
    display: grid;
    width: max-content;
    background: transparent;
}

.frm-container .content .comment .text-container .name-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.frm-container .content .comment .text-container .name-time .name {
    font-size: 14px;
    font-weight: 600;
    color: #4f4f4f;
}

.frm-container .content .comment .text-container .name-time .time {
    font-size: 12px;
    font-weight: 600;
    color: #9a9a9a;
}

.frm-container .content .comment .text-container .txtmessage {

    text-wrap: wrap;
    font-size: 16px;
    font-weight: 500;
    background: #fff;
    padding: 5px 10px;
    border-radius: 0 30px 30px 30px;

}

.frm-container .footer {
    height: 100%;
    width: 100%;
    background: url('../images/bg-chat.jpg');
    background-repeat: repeat;
    padding-bottom: 10px;
}

.frm-container .footer .input-container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    position: relative;
}

.frm-container .footer .input {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
}

.frm-container .footer button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #12b886;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.frm-container .footer .btn-scroll-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 40px;
    margin-bottom: 80px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #12b886;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: btn-scroll-bottom 0.5s infinite alternate;
}

/* end form */

/* start list */
.list-container {
    width: 100%;
    height: 100%;
    min-height: 600px;
    border-radius: 20px;
    margin-top: 10px;
    overflow-y: scroll;
    background-color: #fff;
}

.list-container .header {
    height: 50px;
    padding: 0 20px;
    background: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
}

.list-container .header .title {
    font-size: 20px;
    font-weight: 600;
    color: #4f4f4f;
}

.list-container .content .search {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #f7f7f7;
    outline: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.list-container .content .search input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 500;
    color: #636363;
    background: transparent;
}

.list-container .content .list {
    width: 100%;
    height: 100%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
    overflow: scroll;
}

.list-container .content .list .item {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-container .content .list .item:hover {
    cursor: pointer;
    background-color: #f7f7f7;
}

.list-container .content .list .item .logo {
    width: 10%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #12b886;
    border-radius: 50%;
    color: #ECDB54;
}

.list-container .content .inp-search::placeholder {
    color: #636363;
    font-size: 14px;
    font-weight: 500;
}

.list-container .content .list .item .text {
    width: 90%;
    text-wrap: wrap;
}

.list-container .content .list .item .text .date {
    font-size: 12px;
    font-weight: 600;
    color: #636363;
}

.list-container .content .list .item .text .isi {
    font-size: 14px;
    font-weight: 600;
}

@keyframes btn-scroll-bottom {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(10px);
    }

}