body {
	/* border: 1px solid silver !important; */
	/* margin-top: 1cm; */
	font-size: 10px;
	font-family: sans-serif;
}

#mytable {
	width: 100%;
	/* border: 1px solid black; */
}

#iniTable {
	width: 100%;
	/* border: 1px solid black; */
	/* border-collapse: collapse; */
}

.iniTD {
	width: 90px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.iniTDBawah {
	width: 90px;
}

#utkTemplateTable {
	width: 100%;
}

.row {
	padding: 0px !important;
	margin: 0px !important;
}

.row > div {
	margin: 0px !important;
	padding: 0px !important;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.garis {
	border-bottom: 1px solid black;
}


/*table {
	page-break-inside: avoid !important;
}*/
