@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,96.6,200..1000;1,6..12,96.6,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #114ae8;
    --color-primary-hover: #0952b1;
    --color-bg: #F6F9FF;
    --color-text: #474747;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}

.container {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
}


/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    height: 80px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.277);
}

.navbar .company {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.navbar .logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.navbar .logo ion-icon {
    width: 100%;
    height: 100%;
    color: var(--color-primary);
}

.navbar .company p {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-primary-hover);
}

.sign-out-cont a {
    text-decoration: none;
    font-weight: 500;
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 10px
}

.navbar .sign-out-cont .icon-sign-out {
    font-size: 26px;
    color: var(--color-text);
    cursor: pointer;
}

.navbar .sign-out-cont a:hover p,
.navbar .sign-out-cont a:hover .icon-sign-out {
    color: var(--color-primary);
}

/* end navbar */

.content {
    padding: 20px 10% 300px 10%;
    height: 100%;
}

.flash-message {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: #f23b3b;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    animation: flash 0.3s ease-in-out;
}

.content .title h2 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: var(--color-primary);
}

.content .cont-card {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    row-gap: 50px;

}

.content .card {
    width: 280px;
    height: 200px;
    width: calc((100% / 1) - 20px);
    background-color: #fff;
    border-radius: 10%;
    overflow: hidden;
    box-shadow: 1px 1px 40px 2px rgba(196, 194, 194, 0.586);
}

.content .cont-card .card:hover {
    box-shadow: 1px 1px 40px 2px rgba(255, 166, 210, 0.586);
}

.content .card .card-body {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .card .card-body .cont-image {
    width: 100%;
    height: 120px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .card .card-body .cont-image img {
    width: 100%;
    height: 100%;
}

.content .card .card-body .cont-image .logo-kip {
    width: 250px;
    height: 80px;
}

.content .card .card-footer {
    width: 100%;
    height: 20%;
    /* background-color: var(--color-primary); */
	background-color: #0952b1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-wrap: wrap;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.foot {
    /* background-color: yellow; */
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.foot svg {
    position: absolute;
    bottom: -90px;
    background-color: transparent;
}


/* modal */
.modalWellcome {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #4b4b4b82;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalWellcome .card {
    position: relative;
    margin-top: -4%;
    width: 60%;
    padding-bottom: 40px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 1px 40px 2px rgba(235, 230, 230, 0.586);
    overflow: hidden;
    animation: modal 0.5s ease-out;
}

.modalWellcome .card svg {
    margin-top: -30px;
}

.modalWellcome .card .card-body {
    margin-top: -80px;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: space-around;
}

.modalWellcome .card .card-body .cont-image {
    width: 400px;
    height: auto;
    object-fit: contain;
}

.modalWellcome .card .card-body .cont-image img {
    width: 100%;
    height: 100%;
}

.modalWellcome .card .card-body .message h2 {
    font-family: "Nunito Sans", sans-serif;
    font-size: 26px;
    font-weight: 700;
}

.modalWellcome .card .card-body .message button {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    /* background-color: var(--color-primary); */
	background-color: #0952b1;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

/* loader */
/* HTML: <div class="loader"></div> */
.cont-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7c797955;

}

.loader {
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #0c45f1;
    animation: l10 1.5s infinite linear;
}

@keyframes l10 {
    0% {
        box-shadow:
            0 -30px #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6, 30px 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6
    }

    12.5% {
        box-shadow:
            0 0 #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6, 30px 0 #F4DD51, calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6
    }

    25% {
        box-shadow:
            0 0 #F4DD51, 0 0 #E3AAD6, 30px 0 #F4DD51, calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 30px #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6
    }

    37.5% {
        box-shadow:
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, calc(30px*0.707) calc(30px*0.707) #E3AAD6,
            0 30px #F4DD51, calc(-30px*0.707) calc(30px*0.707) #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6
    }

    50% {
        box-shadow:
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6,
            0 30px #F4DD51, calc(-30px*0.707) calc(30px*0.707) #E3AAD6, -30px 0 #F4DD51, 0 0 #E3AAD6
    }

    62.5% {
        box-shadow:
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, calc(-30px*0.707) calc(30px*0.707) #E3AAD6, -30px 0 #F4DD51, calc(-30px*0.707) calc(-30px*0.707) #E3AAD6
    }

    75% {
        box-shadow:
            0 -30px #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6, -30px 0 #F4DD51, calc(-30px*0.707) calc(-30px*0.707) #E3AAD6
    }

    87.5% {
        box-shadow:
            0 -30px #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, calc(-30px*0.707) calc(-30px*0.707) #E3AAD6
    }

    100% {
        box-shadow:
            0 -30px #F4DD51, calc(30px*0.707) calc(-30px*0.707) #E3AAD6, 30px 0 #F4DD51, 0 0 #E3AAD6,
            0 0 #F4DD51, 0 0 #E3AAD6, 0 0 #F4DD51, 0 0 #E3AAD6
    }

}

/* end loader */
@media screen and (max-width: 572px) {
    .container {
        width: 100%;
        position: relative;
    }

    /* navbar */
    .navbar {
        height: 50px;
        padding: 0 5%;
    }

    .navbar .company .logo {
        width: 30px;
        height: 30px;
    }

    .navbar .company p {
        font-size: 15px;
    }

    .navbar .sign-out-cont p {
        font-size: 14px;
    }

    .navbar .sign-out-cont .icon-sign-out {
        font-size: 17px;
    }

    /* end navbar */

    .content {
        padding: 0px 10% 20px 10%;
    }

    .content .title h2 {
        font-size: 18px;
    }

    .content .cont-card {
        padding-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .content .card {
        width: 120px;
        height: 120px;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 1px 1px 40px 2px rgba(196, 194, 194, 0.586);
    }

    .content .card .card-body {
        width: 100%;
        height: 80%;
    }

    .content .card .card-body .cont-image {
        width: 900px;
        height: 70px;
        object-fit: cover;
    }

    .content .card .card-body .cont-image .logo-kip {
        width: 250px;
        height: 80px;
    }

    .content .card .card-footer {
        font-size: 10px;
    }

    .foot {
        bottom: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    /* modal */
    .modalWellcome .card {
        width: 90%;
        height: auto;
    }

    .modalWellcome .card .card-body {
        display: flex;
        flex-direction: column;
    }

    .modalWellcome .card .card-body .cont-image {
        width: 180px;
        height: auto;
        object-fit: contain;
    }

    .modalWellcome .card .card-body .message h2 {
        font-size: 18px;
    }

    .modalWellcome .card .card-body .message p {
        font-size: 14px;
    }

    .modalWellcome .card .card-body .message button {
        font-size: 14px;
        padding: 5px 10px;
        width: 100%;
    }

    /* end modal */


}

@media screen and (min-width : 572px) and (max-width: 600px) {
    .content .cont-card {
        grid-template-columns: repeat(3, 1fr);
    }
}

@keyframes modal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes flash {
    0% {
        transform: translateX(-50%) translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}
