@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wdth,wght@0,6..12,96.6,200..1000;1,6..12,96.6,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #E81179;
    --color-primary-hover: #b1095a;
    --color-bg: #F6F9FF;
    --color-text: #474747;
}


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    background: var(--color-bg);
    align-items: center;
    justify-content: center;
}

.flash-message {
    position: absolute;
    top: 0;
    margin-top: 20px;
    width: auto;
    height: 50px;
    border-radius: 10px;
    background-color: #f23b3b;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    animation: flash 0.3s ease-in-out;
}

.card-outer {
    margin-top: -100px;
}

.logo-label {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* .logo-label .small-logo {
    width: 40px;
    height: 40px;
} */

.logo-label ion-icon {
    color: var(--color-primary);
    font-size: 40px;
}

.logo-label p {
    font-family: "Nunito Sans", sans-serif;
    font-size: 26px;
    font-weight: 700;
    color: var(--color-primary);
    /* color: #4A5CF2; */
}

.card {
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 1px 1px 40px 2px rgba(196, 194, 194, 0.586);
}

.card h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-primary);
    margin-bottom: -10px;
}

.card p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
}

.card .inp-outer {
    margin-top: 30px;
}

.card .input-grup {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px;
}

.card .input-grup label {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--color-text);
}

.card .input-grup input {
    height: 40px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    padding: 0 10px;
    font-family: "Poppins", sans-serif;
}

.card .input-grup input:focus {
    border: 2px solid var(--color-primary);
    outline: none;
}

.card .input-grup button {
    outline: none;
    border: none;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    background-color: var(--color-primary);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.card .input-grup button:hover {
    background-color: var(--color-primary-hover);
    color: #fff;
    cursor: pointer;
}

.inp-outer p {
    text-align: start;
    font-size: 15px;
}

@media screen and (max-width: 572px) {
    .card {
        width: 90%;
    }

}

@keyframes flash {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}