/*
#tbl_atas{
	font-size: 8px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-family: ;
	/*padding-top: 5px !important;*/
	/*padding-bottom: 5px !important;*/

}
#tableKaki{
	font-size: 8px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

#tbl_atas_lainnya{
	font-size: 10px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

#tbl_saya{
	width: 100%;
	font-size: 8px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#tbl_saya thead tr th{
	color:white;
	background-color:#e74c3c;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top: 5px !important;
	padding-bottom: 5px !important;

}
#tbl_saya tbody tr td{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding-top: 5px !important;
	padding-bottom: 5px !important;

}

.ukuran{
	font-size: 10px !important;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.buat_nowrap{
	white-space: nowrap;
}
.jarak_atas_bawah{
	padding-top: 7px !important;
	padding-bottom: 7px !important;
}

.jarak_atas_bawah_td{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}*/