.atur {
	font-size: 10px !important;
	font-family: Arial, Helvetica, sans-serif;
}

.atur_jarak {
	padding-top: 5px;
	padding-bottom: 5px;
}

.atur_lain{
	font-size: 8px !important;
	font-family: Arial, Helvetica, sans-serif;
}