.huruf10{
	font-size:10px !important;
/*	font-family: sans-serif;*/
}
.huruf12{
	font-size:12px !important;
/*	font-family: sans-serif;*/
}
.huruf14{
	font-size:14px !important;
/*	font-family: sans-serif;*/
}
.huruf16{
	font-size:16px !important;
/*	font-family: sans-serif;*/
}
.jarak{
	margin-bottom:5px !important;
}
.jarak10{
	margin-bottom:10px !important;
}