.tulisan{
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}
.font_10{
	font-size: 10px;
}
.font_11{
	font-size: 11px;
}
.font_12{
	font-size: 12px;
}
#tableKaki{
	font-size: 8px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}
